* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}


nav {
    background: white;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo span {
    color: #6c63ff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


.hero {
    height: 90vh;
    background: linear-gradient(135deg, #6c63ff, #4facfe);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 span {
    color: #ffeb3b;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #6c63ff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}


.section {
    padding: 70px 10%;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.bg-light {
    background: white;
}

.bg-dark {
    background: #222;
    color: white;
    text-align: center;
}


.cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    flex: 1;
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.project {
    border-top: 5px solid #6c63ff;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
